* {
    margin: auto;
    padding: 5px;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('img/imgFundoClaro.jpg');
}

#flex {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    align-items: center;
    /* design container */
    height: 30rem;
    width: 30rem;
    background-color: white;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
}

.center {
    justify-content: center;
    align-items: center;
}

#enviar {
   background-color: #00A5F1;
   margin-left: 40%;
}

#textLogin {
    margin-top: -50%;
    text-align: center;
}

.design {
    width:200px;
    height: 25px;
    border-top: 0 solid;
    border-left: 0 solid;
    border-right: 0 solid;
    border-bottom: 3px solid transparent;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, blue, yellow);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 40%; 
}

.design:focus {
    outline: none
}

#eye {
    background-image: url('img/olho.png');
}

#esquecirSenha {
    margin-left: 10%;
} 