* {
    margin: auto;
    padding: 5px;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('img/imgFundoClaro.jpg');
}

#flex {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    align-items: center;
    /* design container */
    height: 30rem;
    width: 30rem;
    background-color: white;
    border-radius: 5%;
    background-color: transparent;
}

.center {
    justify-content: center;
    align-items: center;
}

#enviar {
   width: 16rem;
   border-radius: 10px;
   background-color: transparent;
   border-color: #00A5F1;
   border-width: 3px;
   border-style: solid;
}

#enviar:hover {
    width: 16rem;
    border-radius: 10px;
    background-color: #00A5F1;
    border-color: #00A5F1;
    border-width: 3px;
    border-style: solid;
    transition: 1s;
 }
 

#textLogin {
    font-size: 300%;
    text-align: center;
    animation-name: text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes text {
    0% {
        top: 0px;
    }
    50% {
        top: 8px;
    }
    100% {
        top: 0px;
    }
}

.design {
    width:245px;
    height: 25px;
    border-top: 0 solid;
    border-left: 0 solid;
    border-right: 0 solid;
    border-bottom: 3px solid transparent;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, rgb(5, 5, 121), #00A5F1);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 40%; 
    background-color: transparent;
}

.design:focus {
    outline: none
}

#eye {
    background-image: url('img/olho.png');
}

#esqueceuSenha {
    color: #0051ff;
    text-decoration: none;
}
